:root {
  --color-principal-texto: #212121;
  --color-secundario-texto: #757575;
  --color-para-resaltar: #2196f3;
  --color-blanco-texto: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-principal-texto);
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding: 94px 0px;
}

/*Encabezado Estudio y Portafolio*/

.logo {
  font-family: 'Raleway';
  color: var(--color-para-resaltar);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.header-container {
  border-bottom: 1px solid #ececec;
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  padding: 32px 0px;
  margin-left: 93px;
  margin-right: 306px;
}

.link-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 329px;
  padding: 32px 0px;
}

.header-item {
  color: var(--color-principal-texto);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.header-item:is(:hover, :focus) {
  color: var(--color-para-resaltar);
}

.header-contact-information {
  color: var(--color-secundario-texto);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.header-contact-information:hover {
  color: var(--color-para-resaltar);
}

.header-contact-information:focus {
  color: var(--color-para-resaltar);
}

.header-icons {
  margin-right: 10px;
}

.header-icons {
  cursor: pointer;
}

.header-icons:hover path {
  fill: var(--color-para-resaltar);
}

/*Contenido: Estudio*/

/*Información Principal*/

.main-information-container {
  display: flex;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-information-background {
  background-image: url('/images/fondo-informacion-principal.jpg');
  background-repeat: repeat;
}

.main-information {
  color: var(--color-blanco-texto);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2.64px;
  padding-right: 452px;
  padding-left: 452px;
  margin-bottom: 30px;
}

.button-principal {
  color: var(--color-blanco-texto);
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  background-color: var(--color-para-resaltar);
  border: var(--color-para-resaltar);
  text-align: center;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*Sección uno: Información de Servicios*/

.serv-inf-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 270px;
  height: 251px;
}

.serv-inf-container:not(:last-child) {
  margin-right: 30px;
}

.serv-inf-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.service-information-item {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-information-detail {
  color: var(--color-secundario-texto);
  font-size: 14px;
  line-height: 2;
}

/*Sección dos: Imágenes de Servicios*/

.section2-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.serv-text {
  color: var(--color-blanco-texto);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px 79px;
}

.image-serv-text1 {
  background-image: url('/images/1escribiendoenportatil.jpg');
  background-size: cover;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-serv-text2 {
  background-image: url('../images/2celularyportatil.jpg');
  background-size: cover;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-serv-text3 {
  background-image: url('../images/3tablet.jpg');
  background-size: cover;
  width: 370px;
  height: 294px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*Sección tres: Equipo de trabajo*/

.section3-container {
  display: flex;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #f5f4fa;
  margin-top: 94px;
}

.secondary-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 55px;
}

.list-work-team {
  width: 270px;
  background-color: var(--color-blanco-texto);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.employee-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.employee-position {
  color: var(--color-secundario-texto);
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
}

.list-work-team-icon {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 28px;
  padding-bottom: 42px;
  cursor: pointer;
}

.icon {
  background-color: var(--color-blanco-texto);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.icon:hover path {
  fill: var(--color-blanco-texto);
}

.icon:hover {
  background-color: #2196f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.section4-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 59px;
  margin-bottom: 151px;
}

.customers-icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1200px;
}

.customers {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 81px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.customers:hover {
  border: 1px solid #2196f3;
}

.customers > svg:hover path {
  fill: var(--color-para-resaltar);
}

/*Contenido: Portafolio*/

/*Botones*/

.button-secondary-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.button-secondary {
  color: var(--color-principal-texto);
  background-color: #f5f4fa;
  border: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.button-secondary:not(:last-child) {
  margin-right: 8px;
}

.button-secondary:hover {
  color: var(--color-blanco-texto);
  background-color: var(--color-para-resaltar);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-secondary:focus {
  color: var(--color-blanco-texto);
  background-color: var(--color-para-resaltar);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*Proyectos*/

.projects-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-blanco-texto);
  padding-bottom: 82px;
}

.project-card {
  background-color: var(--color-blanco-texto);
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  max-width: 370px;
}

.project-card:nth-child(n + 7) {
  margin-bottom: 0px;
}

.project-card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 24px;
}

.projects-name-card2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-top: 20px;
  margin-bottom: 2.8px;
  padding: 0px 24px;
}

.projects-detail {
  font-size: 18px;
  line-height: 1.8;
  color: var(--color-secundario-texto);
  padding: 0px 24px 20px;
}

/*Pie de Página: Estudio y Portafolio*/

.footer-container {
  display: flex;
  width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: #2f303a;
}

.logo-adrees-address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #2f303a;
  padding-left: 215px;
}

.social-networks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #2f303a;
  padding-right: 878px;
}

.logo-footer {
  font-family: 'Raleway';
  color: var(--color-para-resaltar);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.78px;
  text-decoration: none;
  background: #2f303a;
}

.footer-address {
  color: var(--color-blanco-texto);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.42px;
  background: #2f303a;
  margin-right: 100px;
}

.footer-contact-information {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}

.footer-contact-information:hover {
  color: var(--color-para-resaltar);
}

.footer-contact-information:focus {
  color: var(--color-para-resaltar);
}

.social-networks {
  color: var(--color-blanco-texto);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  width: 135px;
  margin-bottom: 20px;
}

.social-networks-icons {
  display: flex;
  width: 206px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: #2f303a;
}

.social-networks-icons-background {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.social-networks-icons-background:hover {
  background-color: var(--color-para-resaltar);
}
